@{
    ViewBag.Title = "Index";
}
@section head{
}
<h2>List</h2>

<table class="table table-bordered condition">
    <tbody>
        <tr>
            <td>SingleIntNumber</td>
            <td>
                <input type="text" id="Condition_SingleIntNumber_min" />
                ~
                <input type="text" id="Condition_SingleIntNumber_max" />
            </td>
            <td>SingleIntEnum</td>
            <td>
                <select id="Condition_SingleIntEnum">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>SingleMoney</td>
            <td>
                <input type="text" id="Condition_SingleMoney_min" />
                ~
                <input type="text" id="Condition_SingleMoney_max" />
            </td>
            <td>SingleDatetime</td>
            <td>
                <input type="text" id="Condition_SingleDatetime_min" />
                ~
                <input type="text" id="Condition_SingleDatetime_max" />
            </td>
        </tr>
        <tr>
            <td>SingleVarchar</td>
            <td><input type="text" id="Condition_SingleVarchar" /></td>
            <td>SingleBit</td>
            <td>
                <select id="Condition_SingleBit">
                    <option value="All">All</option>
                    <option value="1">true</option>
                    <option value="0">false</option>
                </select>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" align="center">
                <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
            </td>
        </tr>
    </tfoot>
</table>

<button type="button" class="btn btn-link pull-right" id="btnAddDialog">Add</button>
<div class="table-responsive" id="Data">
    <table id="dataTable" data-template="dataTableScript" class="table table-bordered table-striped table-hover"></table>
</div>
<ul class="pagination">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    ...
</ul>

@Html.Partial("~/Views/Single/_Add.cshtml")
@Html.Partial("~/Views/Single/_Delete.cshtml")
@Html.Partial("~/Views/Single/_Detail.cshtml")
@Html.Partial("~/Views/Single/_Edit.cshtml")

@section scripts{
    <script id="dataTableScript" type="text/x-mustache">
        <thead>
            <tr>
                <th>SingleIntNumber</th>
                <th>SingleIntEnum</th>
                <th>SingleMoney</th>
                <th>SingleDatetime</th>
                <th>SingleVarchar</th>
                <th>SingleLongVarchar</th>
                <th>SingleBit</th>
                <th width="200px;">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#items}}
            <tr data-guid="{{GUID}}">
                <td style="text-align:right;">{{SingleIntNumber}}</td>
                <td style="text-align:right;">{{SingleIntEnumString}}</td>
                <td style="text-align:right;">{{SingleMoneyString}}</td>
                <td style="text-align:center;">{{SingleDatetimeString}}</td>
                <td><p>{{SingleVarchar}}</p></td>
                <td><pre>SingleLongVarchar</pre></td>
                <td style="text-align:center;">{{{SingleBitString}}}</td>
                <td style="text-align:center;">
                    <button type="button" class="btn btn-link btn-xs" onclick="ShowDetailDialog('{{GUID}}')">Detail</button><br />
                    <button type="button" class="btn btn-link btn-xs" onclick="ShowEditDialog('{{GUID}}')">Edit</button> |
                    <button type="button" class="btn btn-link btn-xs" onclick="ShowDeleteDialog('{{GUID}}')">Delete</button>
                </td>
            </tr>
            {{/items}}
        </tbody>
    </script>

    <script type="text/javascript">
        {
            var Single_Index_url = "@Url.Action("Index", "Single", new { area = "" }, null)";

            @Html.Raw(ViewBag.dataJson)
            var PageSize = 25;
        }

        $(function () {
            $.initTemplate();

            $("#dataTable").data("template_extend", {
                SingleDatetimeString: function () {
                    return this.SingleDatetime.format("yyyy-mm-dd HH:ii:ss");
                },
                SingleIntEnumString: function () {
                    switch (this.SingleIntEnum) {
                        case 1:
                            return "One";
                        case 2:
                            return "Two";
                        default:
                            return "";
                    }
                },
                SingleMoneyString: function () {
                    return Math.round(this.SingleMoney * 100) / 100;
                },
                SingleBitString: function () {
                    if (this.SingleBit == true)
                        return "<i class='fa fa-check'></i>";
                    else
                        return "<i class='fa fa-times'></i>";
                }
            });
            $("#dataTable").render(dataJson);

            $('#Condition_SingleDatetime_min').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                autoclose: true,
                todayBtn: true,
                todayHighlight: true
            });
            $('#Condition_SingleDatetime_max').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                autoclose: true,
                todayBtn: true,
                todayHighlight: true
            });

            $("#btnAddDialog").click(function () {
                ShowAddDialog();
            });


        });

        function SearchData(PageIndex) {
            if (isNaN(PageIndex))
                PageIndex = 1;

            SingleIntNumber_min = parseInt($("#Condition_SingleIntNumber_min").val())
            SingleIntNumber_max = parseInt($("#Condition_SingleIntNumber_max").val())
            SingleIntEnum = $("#Condition_SingleIntEnum").val();
            SingleMoney_min = parseFloat($("#Condition_SingleMoney_min").val())
            SingleMoney_max = parseFloat($("#Condition_SingleMoney_max").val())
            SingleDatetime_min = new Date($("#Condition_SingleDatetime_min").val())
            SingleDatetime_max = new Date($("#Condition_SingleDatetime_min").val())

            $.ajax({
                type: "get",
                cache: false,
                url: Single_Index_url,
                data: {
                    PageIndex: PageIndex,
                    PageSize:PageSize,
                    SingleIntNumber_min: parseInt($("#Condition_SingleIntNumber_min").val()),
                    SingleIntEnum: $("AddDialog input:radio[name='SingleIntEnum']:checked").val(),
                    SingleMoney: $("#AddDialog_SingleMoney").val(),
                    SingleDatetime: $("#AddDialog_SingleDatetime").val(),
                    SingleVarchar: $("#AddDialog_SingleVarchar").val(),
                    SingleLongVarchar: $("#AddDialog_SingleLongVarchar").val(),
                    SingleBit: $("#AddDialog_SingleLongVarchar").prop("checked")
                },
                success: function (returnstring) {
                    var returnobj = JSON.parse(returnstring);
                    if (returnobj.status > 0) {
                        $("#AddDialog").modal("hide");
                        $("#MessageBox_alert").addClass("alert-success");
                        $("#MessageBox_message").html(returnobj.message);
                    } else {
                        $("#AddDialog_alert_message").html(returnobj.message);
                        $("#AddDialog_alert").removeClass('hidden');
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    $("#AddDialog_alert_message").html("网络错误，请重试！");
                    $("#AddDialog_alert").removeClass('hidden');
                },
                complete: function (xmlHttpRequest, textStatus) {
                    $('#AddDialog_Accept').button('reset');
                }
            });
        }
    </script>
}


