<!DOCTYPE html>
<html class="no-js">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta http-equiv="Content-Language" content="zh-cn" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/all")
	@Scripts.Render("~/Scripts/all")

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="~/Scripts/html5shiv.min.js"></script>
		<script src="~/Scripts/html5shiv-printshiv.min.js"></script>
		<script src="~/Scripts/respond.min.js"></script>
	<![endif]-->


	@RenderSection("head", required: false)
</head>
<body>
	<header class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("应用程序名称", "Index", "Home", null, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("主页", "Index", "Home", new { area = "" }, null)</li>
					<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
				</ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (System.Configuration.ConfigurationManager.AppSettings["LoginPage"] != "true")
                    {
                        <li><a href="#" data-toggle="modal" data-target="#Login_dialog">登录</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#Register_dialog">注册</a></li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("登录", "Login", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("注册", "Register", "Home", new { area = "" }, null)</li>
                    }
                </ul>

			</div>
		</div>
	</header>
	<div class="container">
		@RenderBody()
	</div>
	<footer class="container">
		<hr />
		<p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
	</footer>
	@if (System.Configuration.ConfigurationManager.AppSettings["LoginPage"] != "true" && Session[J.Logic.Basic.SessionConfig.CurrentUser] == null)
{
		@Html.Partial("~/Views/Home/_LoginRegister.cshtml")
}
	
	@RenderSection("scripts", required: false)
</body>
</html>
