<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="zh-cn" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/all")
    @Scripts.Render("~/Scripts/all")
    @Scripts.Render("~/Scripts/jquery.uploadify")
    @Scripts.Render("~/Scripts/tinymce/js")
    @Scripts.Render("~/Scripts/tinymce/langs/zh_CN")


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.min.js"></script>
        <script src="~/Scripts/html5shiv-printshiv.min.js"></script>
        <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
    @RenderSection("head", required: false)
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("应用程序名称", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (Session[J.Logic.Basic.SessionConfig.CurrentUser] == null && System.Configuration.ConfigurationManager.AppSettings["LoginDialog"] == "true")
                    {
                        <li><a href="#" data-toggle="modal" data-target="#LoginDialog">登录</a></li>
                    }
                    @if (Session[J.Logic.Basic.SessionConfig.CurrentUser] == null && System.Configuration.ConfigurationManager.AppSettings["LoginDialog"] == "true" && System.Configuration.ConfigurationManager.AppSettings["EnableRegister"] == "true")
                    {
                        <li><a href="#" data-toggle="modal" data-target="#RegisterDialog">注册</a></li>
                    }
                    @if (Session[J.Logic.Basic.SessionConfig.CurrentUser] == null && System.Configuration.ConfigurationManager.AppSettings["LoginDialog"] != "true")
                    {
                        <li>@Html.ActionLink("登录", "Login", "User", new { area = "Common" }, null)</li>
                    }
                    @if (Session[J.Logic.Basic.SessionConfig.CurrentUser] == null && System.Configuration.ConfigurationManager.AppSettings["LoginDialog"] != "true" && System.Configuration.ConfigurationManager.AppSettings["EnableRegister"] == "true")
                    {
                        <li>@Html.ActionLink("注册", "Register", "User", new { area = "Common" }, null)</li>
                    }
                </ul>
            </div>
        </div>

    </header>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="container">
        <hr />
        <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
    </footer>

    <div id="MessageBox" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="alert alert-dismissable" id="MessageBox_alert">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <p id="MessageBox_message"></p>
                </div>
            </div>
        </div>
    </div>
   
    <script type="text/javascript">
        $('#MessageBox').on('hidden.bs.modal', function (e) {
            $("#MessageBox_alert").removeClass();
            $("#MessageBox_alert").addClass("alert alert-dismissable");
            $("#MessageBox_message").html("");
        })
    </script>


    @if (System.Configuration.ConfigurationManager.AppSettings["LoginDialog"] == "true")
    {
        @Html.Partial("~/Areas/Common/Views/User/_LoginDialog.cshtml")
    }
    @if (System.Configuration.ConfigurationManager.AppSettings["LoginDialog"] == "true" && System.Configuration.ConfigurationManager.AppSettings["EnableRegister"] == "true")
    {
        @Html.Partial("~/Areas/Common/Views/User/_RegisterDialog.cshtml")
    }

    @RenderSection("scripts", required: false)
</body>
</html>
